%body{"data-offset" => "50", "data-spy" => "scroll", "data-target" => ".navbar-collapse"}
  / Navigation Header Section
  = render 'layouts/navigation_header_jap'
  / Home Top Section
  = render 'homes/home_jap'
  / About Section
  = render 'abouts/about_jap'
  / Experience Section
  = render 'experiences/experience_jap'
  / Education Section
  = render 'educations/education_jap'
  / Link Section
  = render 'links/link_jap'
  / Contact Section
  -# = render 'contacts/contact_eng'
  / Footer Section
  = render 'layouts/footer_eng'
  



