%body{"data-offset" => "50", "data-spy" => "scroll", "data-target" => ".navbar-collapse"}
  / Navigation Header Section
  = render 'layouts/navigation_header_eng'
  / Home Top Section
  = render 'homes/home_eng'
  / About Section
  = render 'abouts/about_eng'
  / Experience Section
  = render 'experiences/experience_eng'
  / Education Section
  = render 'educations/education_eng'
  / Link Section
  = render 'links/link_eng'

  / Contact Section
  %section#contac
    .container 7. CONTACTFORM HERE
    %br/
  / Footer Section
  %footer
    .container 8. FOOTER HERE
    %br/



